@import "tailwindcss";


/*  yaha par ham input me apna css ko link kar ham sab me use kar te hai */

@layer components{
    .btn-primary{
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
}
